@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(185, 41%, 84%);
    font-family: Space Mono;
    font-weight: 700;
}

.top {
    text-align: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    color: hsl(184, 14%, 56%);
    padding-left: 4%;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
}

.right-container {
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3%;

}

.right-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    color: hsl(0, 0%, 100%);
}

.span {
    color: hsl(184, 14%, 56%);
}

.right-container-top-right {
    font-size: 200%;
    margin-bottom: 8%;
    font-weight: bolder;
    color: hsl(172, 67%, 45%);
}

input {

    height: 4.5vh;
    border-style: none;
    background-color: hsl(185, 41%, 84%);
    font-weight: 700;
    font-size: large;
    text-align: right;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
}

.btn-reset {
    font-weight: 700;
    height: 13%;
    border-style: none;
    border-radius: 6px;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.btn-container {
    margin-bottom: 12%;
}

.btn {

    background-color: hsl(183, 100%, 15%);
    border-style: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.btn-custom {
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
    border-style: none;
    border-radius: 5px;
    font-size: medium;

}

button:hover {
    cursor: pointer;
}